body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FCFCFC url(bgr.jpg) repeat;
}


@media only screen and (min-width: 767px) {

    .blank-sidebar {
        margin-left: 275px;
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .ui.sidebar.show-sidebar {
        margin-left: 0 !important;
    }

    .ui.steps.nav {
        margin-top: 20px;
    }


}

.text-center {
    text-align: center;
}

.ui.menu.mobile-nav {
    margin-top: 0;
    display: none;
}

.close.item {
    text-align: center;
}

.ui.vertical.menu .close.item >i.icon {
    float:none;
}

.ui.segment.dropArea {
    line-height: 180px;
    vertical-align: middle;
    text-align: center;
    min-height: 200px;
}

.ui.menu .item.mobile-only {
    display: none;
}


@media only screen and (max-width: 767px) {

    .blank-sidebar {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .ui.menu.mobile-nav {
        display: block;
    }

    .ui.menu .item.mobile-only {
        display: block;
    }

}

.hidden {
    display: none;
}

.ui.basic.button {
    /*margin: 10px 10px 0 0;*/
}

.ui.basic.button.black {
    box-shadow: 0 0 0 1px #5C6166 inset;
    color: #5C6166!important;
}

.ui.basic.button.green {
    box-shadow: 0 0 0 1px #5BBD72 inset;
    color: #5BBD72!important;
}

.ui.basic.button.red {
    box-shadow: 0 0 0 1px #D95C5C inset;
    color: #D95C5C!important;
}

.ui.basic.button.orange {
    box-shadow: 0 0 0 1px #E96633 inset;
    color: #E96633!important;
}

.ui.basic.button.blue {
    box-shadow: 0 0 0 1px #6ECFF5 inset;
    color: #6ECFF5!important;
}

.ui.basic.button.purple {
    box-shadow: 0 0 0 1px #564F8A inset;
    color: #564F8A!important;
}

.ui.basic.button.teal {
    box-shadow: 0 0 0 1px #00B5AD inset;
    color: #00B5AD!important;
}

.ui.segment.tag-input {
    padding: 5px;
}

.ui.form .tag-input input {
    width: auto;
    border: none;
}

.mouse {
    cursor: pointer;
}

.ui.product.input input {
    padding: 0;
    border: none;
    text-decoration: underline;
}

.ui.contract-info.input input {
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #000000;
    border-radius: 0;
}


.ui.disabled.button,
.ui.disabled.button:hover,
.ui.disabled.button.active {
    pointer-events: none;
}


/*.ui.form.segment.test {*/
    /*width: 800px;*/
	/*max-height: 300px;*/
	/*background-color: red;*/
/**/
	/*position: absolute;*/
	/*top:0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
/**/
	/*margin: auto;*/
/*}*/
