<script type="text/x-handlebars" data-template-name="products/view">
    <div class="ui form segment">
        <div class="field">
            <div class="ui input">
                {{input type="text" value=search}}
            </div>
        </div>
    </div>
    <div class="ui three items stackable">
        {{#each product in filteredProducts}}
            {{#link-to 'product' product tagName="div" class="item"}}
                <div class="image">
                    <img {{bind-attr src=product.cover}}>
                    <a class="star ui corner label">
                        <div class="text">新品</div>
                    </a>
                </div>
                <div class="content">
                    <div class="meta">{{format-date product.modifiedDate}}</div>
                    <div class="description">
                        {{#each product.tags}}
                            <div class="ui label" style="margin-top: 7px">{{name}}</div>
                        {{/each}}
                    </div>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</script>

