<script type="text/x-handlebars" data-template-name="products/index">
    <div class="ui secondary  menu">
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    {{input placeholder="搜索..." type="text" value=search}}
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui items stackable">
        {{#each product in filteredProducts}}
            {{#link-to 'product' product tagName="div" class="item"}}
                <div class="image">
                    <img {{bind-attr src=product.cover}}>
                    <a class="star ui corner label">
                        <div class="text">凯思</div>
                    </a>
                </div>
                <div class="content">
                    <div class="meta">{{format-date product.modifiedDate}}</div>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</script>

